<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <body>
        <div th:fragment="skills">
            <div  class="container">
                <header role="banner">
                    <h2 class="section-title"><i class="fa fa-code"/><span th:text="' '+#{skills.header}"/></h2>
                </header>
                
                <article role="main">
                    <div class="row">
                    	<div class="dev-icons hidden-xs hidden-print">
							<a href="http://www.w3.org/TR/html5/"><i class="devicons devicons-html5" style="color:#ec6231;" data-toggle="tooltip" data-placement="top" title="" data-original-title="HTML5"></i><span class="sr-only">HTML5</span></a>
							<a href="http://www.w3.org/Style/CSS/"><i class="devicons devicons-css3" style="color:#016FBA;" data-toggle="tooltip" data-placement="top" title="" data-original-title="CSS3"></i><span class="sr-only">CSS3</span></a>
							<a href="http://en.wikipedia.org/wiki/JavaScript"><i class="devicons devicons-javascript" style="color:#F0DB4F;" data-toggle="tooltip" data-placement="top" title="" data-original-title="JavaScript"></i><span class="sr-only">JavaScript</span></a>
							<a href="http://jquery.com/"><i class="devicons devicons-jquery" style="color:#1169AE;" data-toggle="tooltip" data-placement="top" title="" data-original-title="jQuery"></i><span class="sr-only">jQuery</span></a>
							<a href="http://jqueryui.com/"><i class="devicons devicons-jquery_ui" style="color:#FF9700;" data-toggle="tooltip" data-placement="top" title="" data-original-title="jQuery-UI"></i><span class="sr-only">jQuery UI</span></a>
							<a href="http://backbonejs.org/"><i class="devicons devicons-backbone" style="color:#002841;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Backbone"></i><span class="sr-only">Backbone</span></a>
							<a href="http://getbootstrap.com/"><i class="devicons devicons-bootstrap" style="color:#573D7E;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bootstrap"></i><span class="sr-only">Bootstrap</span></a>
							<!-- <a href="http://emberjs.com"><i class="devicons devicons-ember" style="color:#E14932;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ember JS"></i><span class="sr-only">Ember JS</span></a>
							<a href="http://sass-lang.com"><i class="devicons devicons-sass" style="color:#CC6699;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sass"></i><span class="sr-only">Sass</span></a>
							<a href="http://lesscss.org"><i class="devicons devicons-less" style="color:#415A83;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Less"></i><span class="sr-only">Less</span></a> -->
							<a href="https://www.java.com"><i class="devicons devicons-java" style="color:#E74B1B;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Java"></i><span class="sr-only">Java</span></a>
							<!-- <a href="http://php.net/"><i class="devicons devicons-php" style="color:#66669A;" data-toggle="tooltip" data-placement="top" title="" data-original-title="PHP"></i><span class="sr-only">PHP</span></a>
							<a href="http://www.asp.net/"><i class="devicons devicons-dotnet" style="color:#157FB7;" data-toggle="tooltip" data-placement="top" title="" data-original-title="ASP.net"></i><span class="sr-only">ASP.net</span></a>
							<a href="https://www.perl.org/"><i class="devicons devicons-perl" style="color:#446B7C;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Perl"></i><span class="sr-only">Perl</span></a> -->
							<a href="http://en.wikipedia.org/wiki/SQL"><i class="devicons devicons-database" style="color:#474749;" data-toggle="tooltip" data-placement="top" title="" data-original-title="SQL"></i><span class="sr-only">SQL</span></a>
							<a href="http://www.mysql.com/"><i class="devicons devicons-mysql" style="color:#0E546C;" data-toggle="tooltip" data-placement="top" title="" data-original-title="MySQL"></i><span class="sr-only">MySQL</span></a>
							<a href="http://www.w3.org/"><i class="devicons devicons-w3c" style="color:#063F8C;" data-toggle="tooltip" data-placement="top" title="" data-original-title="W3C Standards"></i><span class="sr-only">W3C Standards</span></a>
							<a href="http://www.linux.com/"><i class="devicons devicons-linux" style="color:#3A3A3A;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i><span class="sr-only">Linux</span></a>
							<a href="http://git-scm.com/"><i class="devicons devicons-git" style="color:#171515;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Git"></i><span class="sr-only">Git</span></a>
						</div>
						
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-info">
                            <dl class="dl-horizontal">
                                <dt><i class="fa fa-laptop fa-fw"/><span th:text="' '+#{skills.languages}"/></dt>
                                <dd><span th:utext="#{skills.languages.list}"/></dd>
                                <dt><i class="fa fa-cogs fa-fw"/><span th:text="' '+#{skills.frameworks}"/></dt>
                                <dd><span th:utext="#{skills.frameworks.list}"/></dd>
                                <dt><i class="fa fa-globe fa-fw"/><span th:text="' '+#{skills.webtechnology}"/></dt>
                                <dd><span th:utext="#{skills.webtechnology.list}"/></dd>
                                <dt><i class="fa fa-flask fa-fw"/><span th:text="' '+#{skills.testing}"/></dt>
                                <dd><span th:utext="#{skills.testing.list}"/></dd>
                                <dt><i class="fa fa-database fa-fw"/><span th:text="' '+#{skills.database}"/></dt>
                                <dd><span th:utext="#{skills.database.list}"/></dd>
                                <dt><i class="fa fa-wrench fa-fw"></i><span th:text="' '+#{skills.tools}"/></dt>
                                <dd><span th:utext="#{skills.tools.list}"/></dd>
                            </dl>
                        </div>
                        
                        <div id="strength" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 th:text="#{skills.strength.header}"/>
                            <div id="myProgressbar1" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span>Java</span>
                                </div>
                            </div>
                            <div id="myProgressbar2" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span>Spring MVC</span>
                                </div>
                            </div>
                            <div id="myProgressbar3" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span>JQuery/Javascript</span>
                                </div>
                            </div>
                            <div id="myProgressbar4" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span>HTML</span>
                                </div>
                            </div>
                            <div id="myProgressbar5" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0%">
                                    <span>CSS</span>
                                </div>
                            </div>
                        </div>
				    </div>
                </article>
            </div>
        </div>
    </body>
</html>